:root {
    --primary: #2860c9;
    --secondary: #2754A8;
    --thrid: #F57E69;
    --background: rgb(255, 254, 254);
}

html,
body,
#app {
    height: 100%;
    margin: 0;
    background-color: var(--background)!important;
}

.form-login {
    width: 100%;
    max-width: 450px;
    padding: 45px;
    margin: auto;
    background-color: white;
}

form {
    display: block;
}

.navbar {
    background-color: var(--primary) !important;
    /* z-index: 100 !important; */
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus,
.btn:active,
.btn:hover {
    box-shadow: none!important;
    outline: 0;
}

#videoContent {
    height: 600px;
    background-color: rgb(180, 174, 174) !important;
    width: 80vw;
}

img {
    width: 50%;
}

#class-card {
    background-color: var(--secondary) !important;
    font-weight: bold;
    font-size: 15px !important;
}

#submitBtn {
    background-color: var(--primary) !important;
}

.pagination li a {
    background-color: var(--thrid) !important;
    color: rgb(255, 254, 254);
    text-decoration: none;
}

.sidebar {
    width: 150px;
    background-color: rgb(147, 148, 148);
}

.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: relative;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
}


/* The sidebar links */

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidebar a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* The button used to open the sidebar */

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    /* If you want a transition effect */
    padding: 20px;
}

.accordion {
    width: 15vw;
}

@media (max-width: 600px) {
    .accordion {
        width: 100vw;
    }
}

#list {
    width: 100%;
}

.list-group .active {
    background-color: #8eb1f3 !important;
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.0rem rgb(13 110 253 / 25%);
}

.list-group-item {
    border: 0px;
}

.course_list ul li {
    background-color: #ccd8f0;
}

.course_list ul li button:hover {
    opacity: 50%;
}

.nav-item a {
    /* color: white !important; */
    font-size: 1em !important;
}

@media (min-width: 100px) {
    .draw-item {
        width: 10vw;
        height: 10vw;
    }
}

@media (min-width: 760px) {
    .draw-item {
        width: 5vw;
        height: 5vw;
    }
    /* .draw-item:hover {
        opacity: 0.7;
        font-size: 1.7em;
        /* transform: rotateY(180deg); */
    /* }  */
    .swal2-container {
        background-position: center 12% !important;
    }
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* font-size: 1.5em; */
}

.card-back {
    background-color: rgb(87, 87, 87);
    border-color: black;
}


/* .table {
    border-spacing: 10px !important;
} */